In [ ]:
Question

1)	Which restaurant has the largest number of votes from the customer
2)	Which city has more number of poor and not rated rating than very good rating in each country?
3) Which city is costliest in each country? ( Assume all the currency are of same value)
4) In india how many restaurants are present in each locality?
5) Which city has the most number of restaurants in each country?
6) Which franchise has the highest number of Restaurants?
7) How many Restaurants are accepting online orders?
8) How many have a book table facility?
9) Which location has the highest number of Restaurants?
10) How many types of Restaurant types are there?
11) What is the most liked Restaurant type?
12) What is the Average cost for 2 persons?
13) What is the most liked Dish type?

In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
data=pd.read_csv("C:\\Users\\pedro\\Desktop\\trai\\zomato.csv",encoding='latin-1')
data=pd.DataFrame(data)
data2=pd.read_csv("C:\\Users\\pedro\\Desktop\\trai\\CountryCode.csv")
data2=pd.DataFrame(data2)

In [14]:
data.head()

,Restaurant ID,Restaurant Name,cc,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [21]:
data2.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [7]:
#answer to Question 1
print(data.loc[data['Votes'].idxmax()])

Restaurant ID                                                       51705
Restaurant Name                                                      Toit
cc                                                                      1
City                                                            Bangalore
Address                 298, Namma Metro Pillar 62, 100 Feet Road, Ind...
Locality                                                      Indiranagar
Locality Verbose                                   Indiranagar, Bangalore
Longitude                                                       77.640709
Latitude                                                        12.979166
Cuisines                                         Italian, American, Pizza
Average Cost for two                                                 2000
Currency                                               Indian Rupees(Rs.)
Has Table booking                                                      No
Has Online delivery                                                    No
Is delivering now                                                      No
Switch to order menu                                                   No
Price range                                                             4
Aggregate rating                                                      4.8
Rating color                                                   Dark Green
Rating text                                                     Excellent
Votes                                                               10934
Name: 728, dtype: object

In [140]:
#answer to Question 2
g=data.groupby('cc')
ls=[]
for name, dataframe in g:
    c=data2.loc[(data2['Country Code']==int(name))]
    c=c.iloc[0:,1:2]
    c=c.to_string(index=False,header=False)
    g2=dataframe.groupby('City')
    worstcity=""
    x=[]
    for name2, dataframe2 in g2:
        countb=0
        countg=0
        for i in dataframe2['Rating text']:
            if i=="Poor" or i=="Not Rated":
                countb=countb+1
            else:
                countg=countg+1
        if countb>countg:
            x.append([name2,countb])
    ls.append([c,x])
print(ls)

[['India', []], ['Australia', [['Montville', 1]]], ['Brazil', []], ['Canada', []], ['Indonesia', []], ['New Zealand', []], ['Phillipines', []], ['Qatar', []], ['Singapore', []], ['South Africa', []], ['Sri Lanka', []], ['Turkey', []], ['UAE', []], ['United Kingdom', []], ['United States', [['Mc Millan', 1]]]]

In [197]:
#answer to Question 3
g=data.groupby('cc')
ls=[]
for name, dataframe in g:
    c=data2.loc[(data2['Country Code']==int(name))]
    c=c.iloc[0:,1:2]
    c=c.to_string(index=False,header=False)
    g2=dataframe.groupby('City')
    max=0
    expcity=""
    for name2, dataframe2 in g2:
        a=dataframe2['Price range'].mean()
        if a>max:
            max=a
            expcity=name2
    ls.append([c,expcity,max])
print(ls)

[['India', 'Panchkula', 4.0], ['Australia', 'Paynesville', 4.0], ['Brazil', 'Sí£o Paulo', 3.6], ['Canada', 'Vineland Station', 4.0], ['Indonesia', 'Bandung', 3.0], ['New Zealand', 'Wellington City', 3.25], ['Phillipines', 'Pasay City', 4.0], ['Qatar', 'Doha', 3.65], ['Singapore', 'Singapore', 3.65], ['South Africa', 'Inner City', 4.0], ['Sri Lanka', 'Colombo', 2.85], ['Turkey', 'ÛÁstanbul', 2.857142857142857], ['UAE', 'Abu Dhabi', 3.3], ['United Kingdom', 'London', 3.0], ['United States', 'Princeton', 4.0]]

In [24]:
data2.head()

   cc    Country
0   1      India
1  14  Australia
2  30     Brazil
3  37     Canada
4  94  Indonesia

In [29]:
#answer to Question 4
g=data.groupby('cc')
con=0
for index, row in data2.iterrows():#finds the cc for India
    if row['Country']=='India':
        con=row['cc']
        break;
India=g.get_group(con)
c=str(India.value_counts('Locality'))
print(c)

Locality
Connaught Place                 122
Rajouri Garden                   99
Shahdara                         87
Defence Colony                   86
Malviya Nagar                    85
                               ...
Hathi Gate                        1
Maurya Lok, Fraser Road Area      1
Hampankatta                       1
HIG-LIG                           1
Paltan Bazaar                     1
Length: 784, dtype: int64

In [169]:
#answer to Question 5
g=data.groupby('cc')
ls=[]
for name, dataframe in g:
    c=data2.loc[(data2['Country Code']==int(name))]
    c=c.iloc[0:,1:2]
    c=c.to_string(index=False,header=False)
    print(c+": ")
    b=dataframe.value_counts('Locality')
    b=str(b).split('\n')[1]
    print(b)
    print()

India:
Connaught Place                 122

Australia:
Hepburn Springs    2

Brazil:
Asa Sul                                     6

Canada:
Chatham-Kent        1

Indonesia:
Senopati                                  2

New Zealand:
Te Aro                             15

Phillipines:
Kapitolyo                                              3

Qatar:
Umm Ghuwailina                                     2

Singapore:
Marina Centre, Downtown Core       3

South Africa:
Brooklyn                                       3

Sri Lanka:
Kollupitiya, Colombo 03         7

Turkey:
Karakí_y                                  4

UAE:
University City                                    3

United Kingdom:
Old Town                                 9

United States:
Dubuque                       20

In [171]:
#Answer to Question 6
c=str(data.value_counts('Restaurant Name'))
c=str(c).split('\n')[1]
print(c)

Cafe Coffee Day                            83

In [174]:
#Answer to Question 7
c=str(data.value_counts('Has Online delivery'))
c=str(c).split('\n')[2]
print(c)

Yes    2451

In [176]:
#Answer to Question 8
c=str(data.value_counts('Has Table booking'))
c=str(c).split('\n')[2]
print(c)

Yes    1158

In [178]:
#Answer to Question 9
c=str(data.value_counts('Locality'))
c=str(c).split('\n')[1]
print(c)
#this one is basically cheating but I wanted to get more done

Connaught Place        122

In [194]:
#Answer to Question 10
dic={}
ma=0
maxcuisine=""
for index, row in data.iterrows():# we have to use this method due to their being restaurants with 2 cuisines
    cur=str(row['Cuisines']).split(',')
    for i in cur:
        if(dic.get(i))==None:
            dic.update({i:1})
        else:
            dic.update({i:dic.get(i)+1})
        if ma<dic.get(i):
            ma=dic.get(i)
            maxcuisine=i
print(maxcuisine+" : "+ str(ma))

North Indian : 2992

In [196]:
#Anser to Question 11
g=data.groupby('Cuisines')
ls=[]
max=0
best=""
for name, dataframe in g:
    a=dataframe['Aggregate rating'].mean()
    if a>max:
        max=a
        best=name
print(str(max)+" : "+expcity)

4.9 : American, BBQ, Sandwich

In [181]:
#Answer to Question 12
c=data['Average Cost for two'].mean()
print(c)

1199.2107632708617

In [ ]:
#13 was not done due to it overlapping with 11