In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv("C:\\Users\\pedro\\Desktop\\trai\\sales-data.csv")

In [4]:
data.head()

,ind,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,Dallas (TX)
1,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston (MA)
2,3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
3,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
4,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,Los Angeles (CA)

In [8]:
data['Order Date']=pd.to_datetime(data['Order Date'])

In [10]:
data.head()

,ind,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City,Total
0,0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",4,Dallas (TX),23.90
1,2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",4,Boston (MA),99.99
2,3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA),600.00
3,4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA),11.99
4,5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",4,Los Angeles (CA),11.99

In [5]:
#Question1
data['Total']=(data['Quantity Ordered']*data['Price Each'])
g=data.groupby('Month')
a=g['Total'].sum()
print("Month "+str(a.idxmax())+" : $"+str(a.max()))

Month 12 : $4613443.34

In [6]:
#Question2
g=data.groupby('City')
a=g['Quantity Ordered'].sum()
print("City "+str(a.idxmax())+" : "+str(a.max()))

City San Francisco  (CA) : 50239

In [13]:
data['hour']=data['Order Date'].dt.hour#create a new column with

In [15]:
#Question3
g=data.groupby('hour')
a=g['Quantity Ordered'].sum()
print("Hour "+str(a.idxmax())+" : "+str(a.max()))

Hour 19 : 14470

In [ ]:
temp=df.collect()
prev=0
a=[""]
cnt={}
for row in temp:
    order=row['orderid']
    prod=row['product']
    if order!=prev:
        if len(a)>1:
            a.sort()
            sab=""
            for i in a:
                sab=i+sab
            if cnt.get(sab)==None:
                cnt.update({sab:1})
            else:
                cnt.update({sab:cnt.get(sab)+1})
        a=[]
        a.append(prod)
    else:
        a.append(prod)
    prev=order
    b=b+1
        
print(cnt)

In [49]:
#Question4
g=data.groupby('Order ID')
g.head()
cnt={}
for name, dataframe in g:
    ar = []
    for index, row in dataframe.iterrows():
        ar.append(row['Product'])
    ar.sort()
    temp=""
    if len(ar)>1:
        for i in ar:
            temp=temp+i+", "
        if cnt.get(temp)==None:
            cnt.update({temp:1})
        else:
            cnt.update({temp:cnt.get(temp)+1})
maxval=0
maxprod=""
for i in cnt:
    if(cnt[i]>maxval):
        maxval=cnt[i]
        maxprod=i
print(maxprod)
print(maxval)

Lightning Charging Cable, iPhone,
891

In [86]:
#Question5
g=data.groupby('Product')
a=g['Quantity Ordered'].sum()
print("Product "+str(a.idxmax())+" : "+str(a.max()))
#commonly needed cheap product thus sales will be high

Product AAA Batteries (4-pack) : 31017